{#
/**
 * @file visits_entity.html.twig
 * Default theme implementation to present Visits entity data.
 *
 * This template is used when viewing Visits entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_visits_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('visits_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
