html, body {
  height: 100%;
}

.page-content .region-content, .page-content .region-sidebar {
    float: left;
}

.page-content {
    width: 1200px;
    margin: 0 auto;
}
.page-content .region-content{
    width: 880px;
}
.page-content .region-sidebar{
    width: 250px;
}


/* User menus */
.menu--admin-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu--admin-menu li {
    float: left;
    list-style-type: none;
    color: white;
}

.menu--admin-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu--admin-menu li a:hover {
    background: #0074bd;
}
.menu--admin-menu li a.is-active {
    background: #0074bd;
    color: white;
}
/* End user menus */


#wrapper {
    min-height: 100%;
}

/*article {*/
    /*width: 700px;*/
    /*margin-left: 200px;*/
/*}*/

footer {
    position: relative;
    /*margin-top: -80px;*/
    height: 80px;
    background: #333;
}
