{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
'layout',
'layout-form-sections',
] %}
{% if content %}
<div{{ attributes.addClass(classes) }}>

    {% if content.first %}
        <div {{ region_attributes.first.addClass('layout-region', 'region--first') }}>
            {{ content.first }}
        </div>
    {% endif %}

    {% if content.second %}
        <div {{ region_attributes.second.addClass('layout-region', 'region--second', 'inline') }}>
            {{ content.second }}
        </div>
    {% endif %}

    {% if content.third %}
        <div {{ region_attributes.third.addClass('layout-region', 'region--third', 'inline') }}>
            {{ content.third }}
        </div>
    {% endif %}

    {% if content.forth %}
        <div {{ region_attributes.forth.addClass('layout-region', 'region--forth', 'inline') }}>
            {{ content.forth }}
        </div>
    {% endif %}

    {% if content.fifth %}
        <div {{ region_attributes.fifth.addClass('layout-region', 'region--fifth') }}>
            {{ content.fifth }}
        </div>
    {% endif %}

</div>
{% endif %}
