{#
/**
 * @file expenses_entity.html.twig
 * Default theme implementation to present Expenses entity data.
 *
 * This template is used when viewing Expenses entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_expenses_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('expenses_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
