{#
/**
 * @file profits_entity.html.twig
 * Default theme implementation to present Profits entity data.
 *
 * This template is used when viewing Profits entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_profits_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('profits_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
