{% if class_students %}
  <h3>{{ 'Class students'|t }}</h3>
  <div class="lesson-users-list">
    {% for row in class_students %}
      <div class="row">
        <div class="name"><a href="/user/{{ row.user_id }}">{{ row.user_name }}</a></div>
        <div class="{{ row.row_class }}">
          {% for link in row.links %}
            <a href="{{ link.url }}" class="{{ link.class }}">{{ link.text }}</a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if additional_students %}
  <h3>{{ 'Additional students'|t }}</h3>
  <div class="lesson-users-list">
    {% for row in additional_students %}
      <div class="row">
        <div class="name"><a href="/user/{{ row.user_id }}">{{ row.user_name }}</a></div>
        <div class="{{ row.row_class }}">
          {% for link in row.links %}
            <a href="{{ link.url }}" class="{{ link.class }}">{{ link.text }}</a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
<div class="description">
  <h5>{{ 'Edit lesson to add additional students.'|t }}</h5>
  <h5>{{ 'Only users vith valid payments visible here.'|t }}</h5>
</div>