.adminimal .content-header{
    overflow: inherit;
/*    padding-top: 0px; */
}
.block-user-custom-menu
{
    height: 55px;
}
.block-user-custom-menu ul>li.menu-item--expanded>a {
  pointer-events: none;
}

.block-user-custom-menu .menu-item--active-trail {
    background:#0074bd;
}

.block-user-custom-menu ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

.block-user-custom-menu ul a
{
    display:block;
    text-decoration:none;
    font-size:15px;
    line-height:45px;
    padding:0 15px;
    color: #fff !important;
}

.block-user-custom-menu ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-image: none;
}

.block-user-custom-menu ul li.current-menu-item
{
    background:#0074bd
}

.block-user-custom-menu ul li:hover
{
    background:#0074bd
}

.block-user-custom-menu ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#333;
    padding:0;
    z-index: 99999;
}

.block-user-custom-menu ul ul li
{
    float:none;
    width:200px
}

.block-user-custom-menu ul ul a
{
    line-height:120%;
    padding:10px 15px
}

.block-user-custom-menu ul ul ul
{
    top:0;
    left:100%
}

.block-user-custom-menu ul li:hover > ul
{
    display:block
}