.node-form fieldset
  border: none
  background-color: white !important
  margin-top: 0 !important
  margin-bottom: 0 !important
  padding-top: 0 !important
  padding-bottom: 0 !important

#edit-room-and-dates .fieldset-wrapper > div
  display: inline-block
  width: 24%

#edit-teachers-and-students
  .fieldset-wrapper > div
    display: inline-block
    width: 49%
  select
    width: 350px

#generate-wrapper
  width: 100%
  margin-top: 35px
  text-align: center

.lessons
  .lesson
    display: inline-block
    width: 24%
    text-align: center
  .not-free
    border: #c72100 solid 1px

.lesson .form-type-textfield label
  margin-left: 50px

.field--name-field-schedule .paragraphs-subform > div
  display: inline-block
  width: 33%

// Unknown.
#block-sa-admin-theme-secondary-local-tasks a
  color: #BEBEBE

.view header
  margin-bottom: 15px

.block-region-bottom
  .block-views-blockexpenses-block-expenses
    width: 49%
    float: left
    margin-right: 1%
  .block-views-blockprofits-block-profits
    width: 49%
    float: right
    margin-left: 1%

// Lesson/Class node.
.page-node-type-lesson .layout-region-node-main .form-content, .lesson-add-page .layout-region-node-main .form-content
  width: 83%
  float: left

.page-node-type-lesson .layout-region-node-main .class-time-column, .lesson-add-page .layout-region-node-main .class-time-column
  width: 15%
  float: right
  height: 600px
  overflow-y: auto

.page-node-type-lesson .schedule-description, .lesson-add-page .schedule-description
  position: absolute
  left: 400px
  font-size: 14px
  width: 20%

.page-node-type-lesson .schedule-description span, .lesson-add-page .schedule-description span
  position: absolute
  font-size: 50px
  left: 100%
  bottom: 50%

.page-node-type-lesson
  .field--name-field-time-from input, .field--name-field-time-to input
    width: 60px

.lesson-add-page
  .field--name-field-time-from input, .field--name-field-time-to input
    width: 60px

.page-node-type-lesson .layout-region-node-main .one-time-slot, .lesson-add-page .layout-region-node-main .one-time-slot
  height: 4px
  background-color: #f7f7f7
  border: 1px solid #bfbfbf
  width: 50%

.page-node-type-lesson .layout-region-node-main .busy, .lesson-add-page .layout-region-node-main .busy
  background-color: #0074bd

.page-node-type-lesson .layout-region-node-main .current, .lesson-add-page .layout-region-node-main .current
  background-color: #c72100

.page-node-type-lesson .layout-region-node-main .one-time-slot .time, .lesson-add-page .layout-region-node-main .one-time-slot .time
  margin-left: 110%
  margin-top: -8px

.page-node-type-lesson .class-time-column, .lesson-add-page .class-time-column
  width: 9%
  border: 1px solid #bfbfbf
  float: left

.field--type-teacher-lesson-payment .student-amount
  .item .inline-block
    display: inline-block
  .item .prefix
    margin-right: 10px
    width: 185px
  .item .suffix
    font-weight: bold
    cursor: pointer
    margin-left: 10px
  .item .suffix.plus
    font-size: 27px
  .item .suffix.minus
    font-size: 37px

.page-node-type-classes .page-content
  display: table
  .region-sidebar
    min-width: 400px
    display: table-cell
  .region-content
    display: table-cell
    width: 100%
    .layout__region--first .field, .layout__region--second .field
      padding: 20px 5px 5px 20px
.page-node-type-lesson .page-content .region-content
  .layout__region--first .field, .layout__region--second .field
      padding: 20px 5px 5px 20px

.page-node-type-lesson .page-content .region-content .layout__region--second .field .field
  padding: 0
  display: inline-block

.page-node-type-classes .page-content .region-content .layout__region--second .field .field
  padding: 0
  display: inline-block

.page-node-type-lesson .page-content
  display: table
  .region-sidebar
    min-width: 500px
    display: table-cell
  .region-content
    display: table-cell
    width: 100%

.page-node-type-lesson .lesson-users-list
  .name
    float: left
  .links
    float: right
    .link
      padding: 5px 6px
    .active
      background: #0071b8
      border-color: #0071b8
      color: #fff
      font-weight: bold
  .row
    margin-top: 15px
    height: 20px
.page-node-type-lesson .block-lesson-visits-block .description
  margin-top: 50px


// Calendar.
.view-calendar
  .calendar-and-table-wrapper
    margin-top: 20px
    width: 100%
    .column
      position: relative
      h2
        text-align: center
    .column.right
      float: right
      width: 69%
    .column.left
      float: left
      width: 29%
      td
        padding: 0
    .datepicker-block
      position: absolute
      z-index: 10
      top: 35px
      left: 20px
      display: none
    .classes-no-result
      font-size: 22px
      text-align: center
  .view-filters
    width: auto
    .fieldgroup
      float: none
      .form-item
        display: inline-block
      legend
        float: left
        margin-right: 20px
        margin-top: 4px
.lesson-modal article
  margin-bottom: 20px
  .field .field
    padding: 0
    display: inline-block


// User search.
.users-search .views-exposed-form .form-actions
  float: left
  clear: none
  margin-top: 34px

// user import.
.import-data tr .error
  color: #c72100
.import-data tr .warning
  color: #0074bd

// 403, 404
.page-403 .block-system-main-block, .page-404 .block-system-main-block
  text-align: center
  font-size: 20px
  margin-top: 50px

// User page.
.user-page-display .block-local-tasks-block
    display: none
.user-page-display .page-content
  width: 900px
  margin: 0 auto
  .layout__region--first
    margin-top: 40px
    .field--name-field-link .field__item
      margin-top: 10px
      ::after
        content: ' '
        background-image: url(../images/pencil.svg)
        background-position: center center
        background-repeat: no-repeat
        background-size: 16px 16px
        width: 16px
        height: 15px
        display: block
        float: left
      a
        margin-left: 10px
  .layout__region--second
    margin-top: 20px
    .field--name-field-first-name, .field--name-field-last-name, .field--name-field-patronymic
      font-weight: bold
      font-size: 14px
    .field--name-field-date-of-birth
      margin-top: 10px
  .layout__region--third
    margin-top: 20px
    .field--name-field-invited-friends article .field
      display: inline-block
  .component .visit-form-wrapper
    display: inline-block
    width: 102px
    margin-bottom: 20px
    background: #f5f5f2
    height: 123px
    vertical-align: top
    margin-right: 4px
    .form-item-date
      width: 79px
      padding-left: 12px
    .form-item-lesson
      width: 82px
      padding-left: 11px
    .form-item-status
      width: 82px
      padding-left: 11px
    .ajax-progress
      position: absolute
    .messages, .description
      display: none
    .visit-message
      margin-left: 10px
  .component-title .field>div
      display: inline-block
  .component-title .field
    .field__label
      margin-right: 20px
    .field__items .field__item
      display: inline-block
  .component .visit-form-wrapper.visited
    background-color: darkseagreen
  .component .visit-form-wrapper.missed
    background-color: indianred
  .component .visit-form-wrapper.postponed
    background-color: mistyrose
  .component .future-lesson span
    display: block
    margin-top: 50px
    margin-left: 10px
  .component
    margin-top: 10px
    .add-visit-link
      margin-top: 45px
      display: inline-block
      width: 70px

.user-form .field--name-field-employer-comment
  width: 95%

.link-to-tasks-user-page
  margin-top: 10px
  a
    background: #0074bd
    color: #fff
    padding: 5px
    text-decoration: none
    cursor: pointer
    font-size: 14px



// Abonnement add page.
.taxonomy-term-abonnement-form .field--name-field-components .fieldset-wrapper .form-wrapper>div
  display: inline-block
  vertical-align: middle
  margin-right: 10px
.taxonomy-term-abonnement-form .field--name-field-components .fieldset-wrapper .form-wrapper
  .field--name-field-days-of-a-week .form-checkboxes>div
    display: inline-block
  .field--name-field-days-of-a-week .form-checkboxes
    input
      display: block
    label
      margin-right: 5px
  .field--name-revision-log
    display: none
  .field--name-field-time-from input
      width: 57px
  .field--name-field-time-to input
      width: 57px
// TODO: Refactore it.
.taxonomy-term-abonnement-form .field--name-field-components .field--name-field-lesson-limit
  .fieldset-wrapper .form-radios  > div:first-child
    display: none


// Schedule field type.
form .field--type-schedule-day-time
  .day-of-week
    display: inline-block
    width: 100px
  .form-text
    width: 45px

// Tasks.
.all-tasks .views-table, .my-tasks .views-table, .user-tasks .views-table
  tr.urgent
    background-color: #ffdbcd
  tr.high
    background-color: #feffe1
  tr.normal
    background-color: #dcffe5
  tr.low
    background-color: #ecfdff
.layout-form-sections .inline>div
  display: inline-block
  margin-right: 30px
.select2-container--default .select2-results__option[aria-disabled=true]
  display: none
.all-tasks .views-exposed-form, .my-tasks .views-exposed-form, .user-tasks .views-exposed-form
  .form-item-done-timestamp, .form-item-done-min-max-max, .form-item-done-min-max-min
    width: 150px
.view-tasks h1
  color: #333
  text-align: center

// Money
.expences-list .hasDatepicker
  width: 150px

.profits-list .hasDatepicker, .profits-list .form-item-id input
  width: 150px

.compare-exp-prof-wrapper .exp-table, .compare-exp-prof-wrapper .prof-table
  width: 49%
  display: inline-block
.compare-exp-prof-wrapper form .form-item
  display: inline-block

// Language switcher.
.block-language-blocklanguage-interface
  position: absolute
  right: 5px
  ul.links a.is-active
    color: #fff
    background: #0074bd
  a
    color: #fff
    padding: 5px
    text-decoration: none
  li
    margin-bottom: 5px

// General.
.page-title-subtitle
  color: #fff
  margin-right: 110px
  float: right
  margin-top: 15px

.view-user-admin-people form
  .form-item-created-min, .form-item-created-max
    width: 150px

.import-data
  margin-top: 15px