.node-form fieldset {
  border: none;
  background-color: white !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

#edit-room-and-dates .fieldset-wrapper > div {
  display: inline-block;
  width: 24%; }

#edit-teachers-and-students .fieldset-wrapper > div {
  display: inline-block;
  width: 49%; }
#edit-teachers-and-students select {
  width: 350px; }

#generate-wrapper {
  width: 100%;
  margin-top: 35px;
  text-align: center; }

.lessons .lesson {
  display: inline-block;
  width: 24%;
  text-align: center; }
.lessons .not-free {
  border: #c72100 solid 1px; }

.lesson .form-type-textfield label {
  margin-left: 50px; }

.field--name-field-schedule .paragraphs-subform > div {
  display: inline-block;
  width: 33%; }

#block-sa-admin-theme-secondary-local-tasks a {
  color: #BEBEBE; }

.view header {
  margin-bottom: 15px; }

.block-region-bottom .block-views-blockexpenses-block-expenses {
  width: 49%;
  float: left;
  margin-right: 1%; }
.block-region-bottom .block-views-blockprofits-block-profits {
  width: 49%;
  float: right;
  margin-left: 1%; }

.page-node-type-lesson .layout-region-node-main .form-content, .lesson-add-page .layout-region-node-main .form-content {
  width: 83%;
  float: left; }

.page-node-type-lesson .layout-region-node-main .class-time-column, .lesson-add-page .layout-region-node-main .class-time-column {
  width: 15%;
  float: right;
  height: 600px;
  overflow-y: auto; }

.page-node-type-lesson .schedule-description, .lesson-add-page .schedule-description {
  position: absolute;
  left: 400px;
  font-size: 14px;
  width: 20%; }

.page-node-type-lesson .schedule-description span, .lesson-add-page .schedule-description span {
  position: absolute;
  font-size: 50px;
  left: 100%;
  bottom: 50%; }

.page-node-type-lesson .field--name-field-time-from input, .page-node-type-lesson .field--name-field-time-to input {
  width: 60px; }

.lesson-add-page .field--name-field-time-from input, .lesson-add-page .field--name-field-time-to input {
  width: 60px; }

.page-node-type-lesson .layout-region-node-main .one-time-slot, .lesson-add-page .layout-region-node-main .one-time-slot {
  height: 4px;
  background-color: #f7f7f7;
  border: 1px solid #bfbfbf;
  width: 50%; }

.page-node-type-lesson .layout-region-node-main .busy, .lesson-add-page .layout-region-node-main .busy {
  background-color: #0074bd; }

.page-node-type-lesson .layout-region-node-main .current, .lesson-add-page .layout-region-node-main .current {
  background-color: #c72100; }

.page-node-type-lesson .layout-region-node-main .one-time-slot .time, .lesson-add-page .layout-region-node-main .one-time-slot .time {
  margin-left: 110%;
  margin-top: -8px; }

.page-node-type-lesson .class-time-column, .lesson-add-page .class-time-column {
  width: 9%;
  border: 1px solid #bfbfbf;
  float: left; }

.field--type-teacher-lesson-payment .student-amount .item .inline-block {
  display: inline-block; }
.field--type-teacher-lesson-payment .student-amount .item .prefix {
  margin-right: 10px;
  width: 185px; }
.field--type-teacher-lesson-payment .student-amount .item .suffix {
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px; }
.field--type-teacher-lesson-payment .student-amount .item .suffix.plus {
  font-size: 27px; }
.field--type-teacher-lesson-payment .student-amount .item .suffix.minus {
  font-size: 37px; }

.page-node-type-classes .page-content {
  display: table; }
  .page-node-type-classes .page-content .region-sidebar {
    min-width: 400px;
    display: table-cell; }
  .page-node-type-classes .page-content .region-content {
    display: table-cell;
    width: 100%; }
    .page-node-type-classes .page-content .region-content .layout__region--first .field, .page-node-type-classes .page-content .region-content .layout__region--second .field {
      padding: 20px 5px 5px 20px; }

.page-node-type-lesson .page-content .region-content .layout__region--first .field, .page-node-type-lesson .page-content .region-content .layout__region--second .field {
  padding: 20px 5px 5px 20px; }

.page-node-type-lesson .page-content .region-content .layout__region--second .field .field {
  padding: 0;
  display: inline-block; }

.page-node-type-classes .page-content .region-content .layout__region--second .field .field {
  padding: 0;
  display: inline-block; }

.page-node-type-lesson .page-content {
  display: table; }
  .page-node-type-lesson .page-content .region-sidebar {
    min-width: 500px;
    display: table-cell; }
  .page-node-type-lesson .page-content .region-content {
    display: table-cell;
    width: 100%; }

.page-node-type-lesson .lesson-users-list .name {
  float: left; }
.page-node-type-lesson .lesson-users-list .links {
  float: right; }
  .page-node-type-lesson .lesson-users-list .links .link {
    padding: 5px 6px; }
  .page-node-type-lesson .lesson-users-list .links .active {
    background: #0071b8;
    border-color: #0071b8;
    color: #fff;
    font-weight: bold; }
.page-node-type-lesson .lesson-users-list .row {
  margin-top: 15px;
  height: 20px; }

.page-node-type-lesson .block-lesson-visits-block .description {
  margin-top: 50px; }

.view-calendar .calendar-and-table-wrapper {
  margin-top: 20px;
  width: 100%; }
  .view-calendar .calendar-and-table-wrapper .column {
    position: relative; }
    .view-calendar .calendar-and-table-wrapper .column h2 {
      text-align: center; }
  .view-calendar .calendar-and-table-wrapper .column.right {
    float: right;
    width: 69%; }
  .view-calendar .calendar-and-table-wrapper .column.left {
    float: left;
    width: 29%; }
    .view-calendar .calendar-and-table-wrapper .column.left td {
      padding: 0; }
  .view-calendar .calendar-and-table-wrapper .datepicker-block {
    position: absolute;
    z-index: 10;
    top: 35px;
    left: 20px;
    display: none; }
  .view-calendar .calendar-and-table-wrapper .classes-no-result {
    font-size: 22px;
    text-align: center; }
.view-calendar .view-filters {
  width: auto; }
  .view-calendar .view-filters .fieldgroup {
    float: none; }
    .view-calendar .view-filters .fieldgroup .form-item {
      display: inline-block; }
    .view-calendar .view-filters .fieldgroup legend {
      float: left;
      margin-right: 20px;
      margin-top: 4px; }

.lesson-modal article {
  margin-bottom: 20px; }
  .lesson-modal article .field .field {
    padding: 0;
    display: inline-block; }

.users-search .views-exposed-form .form-actions {
  float: left;
  clear: none;
  margin-top: 34px; }

.import-data tr .error {
  color: #c72100; }

.import-data tr .warning {
  color: #0074bd; }

.page-403 .block-system-main-block, .page-404 .block-system-main-block {
  text-align: center;
  font-size: 20px;
  margin-top: 50px; }

.user-page-display .block-local-tasks-block {
  display: none; }

.user-page-display .page-content {
  width: 900px;
  margin: 0 auto; }
  .user-page-display .page-content .layout__region--first {
    margin-top: 40px; }
    .user-page-display .page-content .layout__region--first .field--name-field-link .field__item {
      margin-top: 10px; }
      .user-page-display .page-content .layout__region--first .field--name-field-link .field__item ::after {
        content: " ";
        background-image: url(../images/pencil.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        width: 16px;
        height: 15px;
        display: block;
        float: left; }
      .user-page-display .page-content .layout__region--first .field--name-field-link .field__item a {
        margin-left: 10px; }
  .user-page-display .page-content .layout__region--second {
    margin-top: 20px; }
    .user-page-display .page-content .layout__region--second .field--name-field-first-name, .user-page-display .page-content .layout__region--second .field--name-field-last-name, .user-page-display .page-content .layout__region--second .field--name-field-patronymic {
      font-weight: bold;
      font-size: 14px; }
    .user-page-display .page-content .layout__region--second .field--name-field-date-of-birth {
      margin-top: 10px; }
  .user-page-display .page-content .layout__region--third {
    margin-top: 20px; }
    .user-page-display .page-content .layout__region--third .field--name-field-invited-friends article .field {
      display: inline-block; }
  .user-page-display .page-content .component .visit-form-wrapper {
    display: inline-block;
    width: 102px;
    margin-bottom: 20px;
    background: #f5f5f2;
    height: 123px;
    vertical-align: top;
    margin-right: 4px; }
    .user-page-display .page-content .component .visit-form-wrapper .form-item-date {
      width: 79px;
      padding-left: 12px; }
    .user-page-display .page-content .component .visit-form-wrapper .form-item-lesson {
      width: 82px;
      padding-left: 11px; }
    .user-page-display .page-content .component .visit-form-wrapper .form-item-status {
      width: 82px;
      padding-left: 11px; }
    .user-page-display .page-content .component .visit-form-wrapper .ajax-progress {
      position: absolute; }
    .user-page-display .page-content .component .visit-form-wrapper .messages, .user-page-display .page-content .component .visit-form-wrapper .description {
      display: none; }
    .user-page-display .page-content .component .visit-form-wrapper .visit-message {
      margin-left: 10px; }
  .user-page-display .page-content .component-title .field > div {
    display: inline-block; }
  .user-page-display .page-content .component-title .field .field__label {
    margin-right: 20px; }
  .user-page-display .page-content .component-title .field .field__items .field__item {
    display: inline-block; }
  .user-page-display .page-content .component .visit-form-wrapper.visited {
    background-color: darkseagreen; }
  .user-page-display .page-content .component .visit-form-wrapper.missed {
    background-color: indianred; }
  .user-page-display .page-content .component .visit-form-wrapper.postponed {
    background-color: mistyrose; }
  .user-page-display .page-content .component .future-lesson span {
    display: block;
    margin-top: 50px;
    margin-left: 10px; }
  .user-page-display .page-content .component {
    margin-top: 10px; }
    .user-page-display .page-content .component .add-visit-link {
      margin-top: 45px;
      display: inline-block;
      width: 70px; }

.user-form .field--name-field-employer-comment {
  width: 95%; }

.link-to-tasks-user-page {
  margin-top: 10px; }
  .link-to-tasks-user-page a {
    background: #0074bd;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px; }

.taxonomy-term-abonnement-form .field--name-field-components .fieldset-wrapper .form-wrapper > div {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }

.taxonomy-term-abonnement-form .field--name-field-components .fieldset-wrapper .form-wrapper .field--name-field-days-of-a-week .form-checkboxes > div {
  display: inline-block; }
.taxonomy-term-abonnement-form .field--name-field-components .fieldset-wrapper .form-wrapper .field--name-field-days-of-a-week .form-checkboxes input {
  display: block; }
.taxonomy-term-abonnement-form .field--name-field-components .fieldset-wrapper .form-wrapper .field--name-field-days-of-a-week .form-checkboxes label {
  margin-right: 5px; }
.taxonomy-term-abonnement-form .field--name-field-components .fieldset-wrapper .form-wrapper .field--name-revision-log {
  display: none; }
.taxonomy-term-abonnement-form .field--name-field-components .fieldset-wrapper .form-wrapper .field--name-field-time-from input {
  width: 57px; }
.taxonomy-term-abonnement-form .field--name-field-components .fieldset-wrapper .form-wrapper .field--name-field-time-to input {
  width: 57px; }

.taxonomy-term-abonnement-form .field--name-field-components .field--name-field-lesson-limit .fieldset-wrapper .form-radios > div:first-child {
  display: none; }

form .field--type-schedule-day-time .day-of-week {
  display: inline-block;
  width: 100px; }
form .field--type-schedule-day-time .form-text {
  width: 45px; }

.all-tasks .views-table tr.urgent, .my-tasks .views-table tr.urgent, .user-tasks .views-table tr.urgent {
  background-color: #ffdbcd; }
.all-tasks .views-table tr.high, .my-tasks .views-table tr.high, .user-tasks .views-table tr.high {
  background-color: #feffe1; }
.all-tasks .views-table tr.normal, .my-tasks .views-table tr.normal, .user-tasks .views-table tr.normal {
  background-color: #dcffe5; }
.all-tasks .views-table tr.low, .my-tasks .views-table tr.low, .user-tasks .views-table tr.low {
  background-color: #ecfdff; }

.layout-form-sections .inline > div {
  display: inline-block;
  margin-right: 30px; }

.select2-container--default .select2-results__option[aria-disabled=true] {
  display: none; }

.all-tasks .views-exposed-form .form-item-done-timestamp, .all-tasks .views-exposed-form .form-item-done-min-max-max, .all-tasks .views-exposed-form .form-item-done-min-max-min, .my-tasks .views-exposed-form .form-item-done-timestamp, .my-tasks .views-exposed-form .form-item-done-min-max-max, .my-tasks .views-exposed-form .form-item-done-min-max-min, .user-tasks .views-exposed-form .form-item-done-timestamp, .user-tasks .views-exposed-form .form-item-done-min-max-max, .user-tasks .views-exposed-form .form-item-done-min-max-min {
  width: 150px; }

.view-tasks h1 {
  color: #333;
  text-align: center; }

.expences-list .hasDatepicker {
  width: 150px; }

.profits-list .hasDatepicker, .profits-list .form-item-id input {
  width: 150px; }

.compare-exp-prof-wrapper .exp-table, .compare-exp-prof-wrapper .prof-table {
  width: 49%;
  display: inline-block; }

.compare-exp-prof-wrapper form .form-item {
  display: inline-block; }

.block-language-blocklanguage-interface {
  position: absolute;
  right: 5px; }
  .block-language-blocklanguage-interface ul.links a.is-active {
    color: #fff;
    background: #0074bd; }
  .block-language-blocklanguage-interface a {
    color: #fff;
    padding: 5px;
    text-decoration: none; }
  .block-language-blocklanguage-interface li {
    margin-bottom: 5px; }

.page-title-subtitle {
  color: #fff;
  margin-right: 110px;
  float: right;
  margin-top: 15px; }

.view-user-admin-people form .form-item-created-min, .view-user-admin-people form .form-item-created-max {
  width: 150px; }

.import-data {
  margin-top: 15px; }

/*# sourceMappingURL=sa_custom.css.map */
